:root {
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--Verylightgrayishblue: hsl(210, 60%, 98%);
--Lightgrayishblue_1: hsl(211, 68%, 94%);
--Lightgrayishblue_2: hsl(205, 33%, 90%);
--Grayishblue: hsl(219, 14%, 63%);
--Darkgrayishblue: hsl(219, 12%, 42%);
--Verydarkblue: hsl(224, 21%, 14%);
}

*, *::before, *::after {
    box-sizing: border-box;
    /* outline-style: solid;
    outline-width: 1px; */
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}
#wh {
    position: absolute;
    
}
main {
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 10px 15px hsl(222, 62%, 71%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

header > * {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1rem;
    font-weight: 800;
}

#notiCount {
    color: white;
    background-color: var(--Blue);
    font-size: 0.75rem;
    border-radius: 5px;
    padding: .2rem .5rem;
}

#read {
    font-weight: 500;
    font-size: .85rem;
    color: var(--Darkgrayishblue);
}

#read:hover {
    cursor: pointer;
}

section {
    display: flex;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    
}

.unread {
    background-color: var(--Lightgrayishblue_1);
}

.read {
    background-color: white;
}
section img {
    height: 40px;
    width: 40px;
}

h2 {
    margin: 0;
    padding: 0 .2rem 0 0;
    font-size: .85rem;
    float: left;
}

h2:hover {
    color:var(--Blue)
}
.content-post {
    display: inline-block;
    padding: 0 0 0 1rem;
    margin: 0;
    font-size: .85rem;    
}


.time {
    padding: 0 0 0 1rem;
    font-size: .85rem;
}

p, .content-p {
    margin: 0;
    padding: 0;
}

.event {
    font-weight: 700;
    color: var(--Blue);
}
.event:hover {
    cursor: pointer;
}

.game {
    color: var(--Grayishblue);
    font-weight: 700;
}
.game:hover {
    color: var(--Blue)
}
.dotUnread {
    display: inline-block;
    align-items: center;
    width: 7px;
    height: 7px;
    padding: 0;
    margin: 1px 5px;
}

#message {
    padding: 1rem 0 1rem 1rem;
    margin: 1rem 0 1rem 1rem;
    border: 1px solid var(--Lightgrayishblue_2);
    border-radius: 5px;
    font-size: .95rem;
}

#message:hover {
    background-color: #E5EFF9;
    cursor: pointer;
}

#chessGirl {
    margin-left: auto;
}

img:hover {
    cursor: pointer;
}
@media screen and (min-width: 376px) {
    body {
        background-color: #F9FAFE;
    }

    main {
        background-color: white;
        max-width: 45vw;
        margin: 2rem auto;
    }
}